.docs__actions{
    display: flex;
    flex-direction: column;
}

.docs__button {
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #2e8f7c;
    transition-duration: .2s;
}

.docs__button:hover {
    background-color: #0c6b5e;
}

.docs__button--success {
    background-color: #25c2a0;
}

.docs__button--success:hover{
    background-color: #219a7f;
}

.docs__button--error{
    background-color: #e81f69;
}

.docs__button--error:hover{
    background-color: #b21d57;
}

.docs__button span {
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.action__header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.action__header > h4 {
    display: inline;
    margin: initial !important;
}

.action__card {
    margin: 7px 0;
    border: 2px solid var(--ifm-font-color-base);
    padding: var(--ifm-leading) 10px 2px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.action__button {
    width: fit-content;
    margin: 0 0 0 auto;
}

.action__button span {
    font-size: 16px;
}