.scene__actions{
    display: flex;
    flex-direction: column;
}

.button {
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25c2a0;
    margin-bottom: 20px;
}

.button span {
    font-size: 20px;
    font-weight: 600;
    color: white;
}